<button type="button" class="btn btn-space btn-danger glyphicon glyphicon-trash pull-right" data-toggle="modal" data-target="#myModal"></button>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Удалить категорию</h4>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить данную категорию?</p>
                <p>Обратите внимание: все товары данной категории также будут удалены.</p>
            </div>
            <div class="modal-footer">
                <form asp-controller="Category" asp-action="Delete" asp-route-id="@Model.CategoryId" method="post">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Удалить"/>
                        <a  href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-default">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>